<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eparking.eparking.dao.DateMapper">

    <select id="getDateOfParking" resultType="com.eparking.eparking.domain.response.ResponseDate">
        SELECT D.dateOfWeek, PD.parkingID, PD.offerDate
        FROM ParkingDate PD
        JOIN Date D ON PD.dateOfWeekID = D.dateOfWeekID
        WHERE PD.parkingID = #{parkingID}
    </select>

</mapper>